.input-form-error{
	font-size:11px;
	color:#ff5b5b;
	font-weight: bold;
	font-style: italic;
	
}


td {
	vertical-align: middle !important;
}

.tdws{
 white-space: nowrap;
}

.circleProgressTheme2{
	color: #9b59b6;
}

.circleProgressTheme2Button{
	background-color: #9b59b6;
	color: #fff;
}

.circleProgressTheme3{
	color: #3498db;
}

.circleProgressTheme3Button{
	background-color: #3498db;
	color: #fff;
}


 .btn-purple
 {
	 background-color: #ba68c8;
	 color:#FFF;
	 border-color: #9c27b0;
 }
.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.visited, .open .dropdown-toggle.btn-purple {

	background-color: #ab47bc;
	color:#FFF;
	border-color: #9c27b0;
}

.text-purple{
	color: #ab47bc;
}


.custom-btn 
{
max-height: 25px;
}


.widget-max-height
{
	height: 550px;
	max-height: 550px;
}


