/* total reset */
*{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
a:hover{
    text-decoration: none;
}
/* new fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap&subset=latin-ext');

body{
    font-family: 'Poppins', sans-serif;
    background: #fff;
}
/* header */
header{
    position: absolute;
    width: 100%;
    background: none;
    z-index: 999;
}
.mainContainer{
    width: 1170px;
    height: 130px;
    background: none;
    padding: 0px 15px;
    margin: auto;
}
.logo{
    height: 130px;
    background: none;
    float: left;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
    height: auto;
}
/* menu */
.menu{
    float: right;
    height: 130px;
    background: none;
}
.menu ul li{
    float: left;
    line-height: 130px;
}
.menu ul li a{
    position: relative;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    margin-left: 30px;
    transition: 0.5s all;
}
.menu ul li a::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #209ecc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transition: 0.5s all;
}
.menu ul li a:hover{
    color: #27b4e9;
}
.menu ul li a:hover::before{
    width: 100%;
}
/* navbar wrapper */
.navbarWrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgb(0, 0, 0,0.45);
    top: 0%;
    left: 0%;
    z-index: 9998;
    visibility: hidden;
}
.navbarWrapper.active{
    visibility: visible;
}
/* wrapper */
.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:transparent;
    background-color: rgb(0, 0, 0,0.45);
    top: 0%;
    left: 0%;
    z-index: 9998;
    visibility: hidden;
}
.wrapper.active{
    visibility: visible;
}
/* login form */
.loginForm{
    position: absolute;
    width: 400px;
    height: auto;
    left: 50%;
    top: 60%;
    position: fixed;
    transform: translate(-50%,-50%);
    background: linear-gradient(to top, #3498db,#27b4e9);
    z-index: 9999;
    -webkit-box-shadow: 0px 0px 41px -8px rgba(39,180,233,0.51);
    -moz-box-shadow: 0px 0px 41px -8px rgba(39,180,233,0.51);
    box-shadow: 0px 0px 41px -8px rgba(39,180,233,0.51);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 40px 30px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all;
}
.loginForm.active{
    top: 50%;
    opacity: 1;
    visibility: visible;
}
.loginLogo{
    display: block;
    width: 100%;
    text-align: center;
}
.loginLogo img{
    width: 125px;
    height: auto;
}
.loginTitle{
    display: block;
    width: 100%;
    background: none;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    font-weight: 600;
    color: #ecf0f1;
    margin: 15px auto;
}
.loginForm label{
    width: 100%;
    margin-bottom: 30px;
}
.loginFormIcon{
    float: left;
    width: 10%;
    height: 40px;
    background: none;
    border-bottom: 1.5px solid #ecf0f1;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: #ecf0f1;
}
.loginForm input{
    float: left;
    width: 90%;
    height: 40px;
    border: none;
    border-bottom: 1.5px solid #ecf0f1;
    outline: none;
    font-size: 14px;
    padding: 0px 5px;
    color: #fff;
    background: none;
    transition: 0.2s all;
}
.loginForm input::placeholder{
    color: #ecf0f1;
}
.loginForm label.checkbox{
    position: relative;
    width: 120px;
    display: inline-block;
    background: none;
    cursor: pointer;
    user-select: none;
    cursor: pointer;
    top: 7px;
}
.loginForm label.checkbox input{
    position: absolute;
    left: -9999%;
}
.loginForm span.checkbox{
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    top: 2px;
    background: none;
    border: 2px solid #ecf0f1;
    box-shadow: 1px 1px 1px rgb(0, 0, 0,0.20);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: 0.5s all;
    cursor: pointer;
    overflow: hidden;
}
.loginForm span.checkbox::before{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background: #ecf0f1;
    border: 2px solid #ecf0f1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.5s all;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.loginForm label.checkbox input:checked + span.checkbox::before{
    transform: translate(-50%, -50%) scale(1);
}
.loginForm span.text{
    color: #fff;
    cursor: pointer;
}
.loginForm button{
    position: relative;
    width: 125px;
    height: 35px;
    background: #ecf0f1;
    color: #2a2a2a;
    float: right;
    border: 2px solid #ecf0f1;
    box-shadow: 1px 1px 1px rgb(0, 0, 0,0.20);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: 0.5s all;
    z-index: 1;
    overflow: hidden;
    outline: none;
}
.loginForm button::before{
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    background: #c3d3e0;
    left: 0%;
    top: 0%;
    z-index: -1;
    transition: 0.5s all;
}
.loginForm button:hover{
    border-color: #c3d3e0;
}
.loginForm button:hover::before{
    width: 100%;
}
/* slider */
#slider{
    position: relative;
    width: 100%;
    height: auto;
    background: none;
}
#slider .owl-nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    width: 100%;
    height: 30px;
}
#slider .owl-nav button{
    outline: none;
}
#slider .owl-dots{
    display: none !important;
}
#slider .owl-nav .owl-prev{
    width: 150px;
    height:auto;
    position: absolute;
    font-size: 45px;
    color: #27b4e9;
    top: -15px;
    left: 0%;
    transition: 0.5s all;
}
#slider .owl-nav .owl-next{
    width: 150px;
    height:auto;
    position: absolute;
    font-size: 45px;
    color: #27b4e9;
    top: -15px;
    right: 0%;
    transition: 0.5s all;
}
#slider .owl-nav .owl-prev:hover{
    background: none;
}
#slider .owl-nav .owl-next:hover{
    background: none;
}
#slider .owl-nav .owl-prev i{
    transition: 0.5s all;
}
#slider .owl-nav .owl-next i{
    transition: 0.5s all;
}
#slider .owl-nav .owl-prev:hover i{
    transform: scale(1.1);
}
#slider .owl-nav .owl-next:hover i{
    transform: scale(1.1);
}
.sliderContent{
    position: relative;
    width: 100%;
    height: auto;
    background: none;
}
.sliderImage{
    position: relative;
    width: 100%;
    height: auto;
    background: none;
}
.sliderImage::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.45);
    left: 0%;
    top: 0%;
}
.sliderText{
    position: absolute;
    width: 1170px;
    padding: 0px 15px;
    height: auto;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sliderTextDetail{
    width: 420px;
    color: #fff;
    background: none;
}
.sliderTextDetail h1{
    font-size: 42px;
    font-weight: 600;
}
.sliderTextDetail p{
    font-size: 18px;
}
/* cd-intro */
.cd-headline.rotate-1 .cd-words-wrapper {
    display: inline-block;
    perspective: 300px;
    background: #27b4e9;
}
.cd-intro{
    width: 100%;
    margin: auto;
    background: none;
    text-align: center;
    padding: 75px 0px 70px 0px;
}
.cd-intro h1{
    font-weight: 600;
}
.cd-headline.rotate-1 b {
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
  display: inline-block;
  position: absolute;
  left: 0;
  font-weight: normal;
  top: 0;
  color: #fff;
  padding: 5px 25px;
}
.cd-intro p{
    font-size: 22px;
}
.cd-headline.rotate-1 b.is-visible {
  position: relative;
  opacity: 1;
  transform: rotateX(0deg);
}
.cd-headline.rotate-1 b {
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.cd-headline.rotate-1 b.is-visible {
  position: relative;
  opacity: 1;
  transform: rotateX(0deg);
  animation: cd-rotate-1-in 1.2s;
}

.cd-headline.rotate-1 b.is-hidden {
  transform: rotateX(180deg);
  animation: cd-rotate-1-out 1.2s;
}
@keyframes cd-rotate-1-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}

@keyframes cd-rotate-1-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}
/* card */
.card{
    position: relative;
    width: 300px;
    height: auto;
    background: none;
    border: none;
}
.cardImage{
    width: 100%;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.cardImage img{
    width: 100%;
    height: auto;
}
.cardText{
    width: 85%;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 20px 25px;
    -webkit-box-shadow: 0px 43px 114px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 43px 114px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 43px 114px 0px rgba(0,0,0,0.10);
    margin: -50px auto;

}
.cardText h4{
    font-weight: 600;
}
.cardText p{
    font-size: 14px;
    color: #999999;
}
.cardLink{
    width: 50px;
    height: 50px;
    background: #27b4e9;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    margin: 25px auto;
    box-shadow: 2px 7px 5px -4px rgba(0,0,0,0.26);
    -webkit-box-shadow: 2px 7px 5px -4px rgba(0,0,0,0.26);
    -moz-box-shadow: 2px 7px 5px -4px rgba(0,0,0,0.26);
    transition: 0.5s all;
    overflow: hidden;
}
.cardLink a{
    display: block;
    width: 50px;
    height: 50px;
}
.cardLink .fas{
    transition: 0.5s all;
    color: #fff;
}
.cardLink:hover .fas{
    transform: rotate(360deg);
}
/* countup */
.countupContainer{
    position: relative;
    width: 100%;
    height: 150px;
    display: block;
    background: none;
}
.countupIcon{
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.countupIcon img{
    transform: rotate(15deg);
    opacity: 0.15;
}
.countupText{
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
    background: none;
    margin-top: 15px;
}
.countupText span{
    font-size: 50px;
    font-weight: 600;
    color: #424242;
    line-height: 30px;
}
.countupText p{
    font-size: 20px;
    color: #27b4e9;
}
.partnership{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 250px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partnership::before{
    content: '';
    position: absolute;
    top: 0%;
    width: 100%;
    height: 50px;
    background: url('../images/bg/partnership-shadow.png');
    background-position: center center;
}
.partnershipImage{
    display: inline-block;
    background: none;
    margin: 0px 30px;
}
.partnershipImage img{
    filter:  grayscale(100%) contrast(10%);
    transition: 0.5s all;
}
.partnership img:hover{
    filter: none;
}
.partnership .owl-dots button{
    outline: none;
}
.partnership .owl-dots .owl-dot span{
    height: 5px;
    border-radius: 5px;
    transition: 0.5s all;
}
.partnership .owl-dots .owl-dot.active span{
    background: #27b4e9;
    width: 30px;
}
/* footer */
footer{
    width: 100%;
    height: auto;
    background: #2a2a2a;
    padding: 50px 0px;
    padding-bottom: 0px;
    font-size: 15px;
}
footer ul{
    margin-left: 20px;
}
footer ul li a{
    color: #999999;
    line-height: 30px;
    transition: 0.5s all;
}
footer ul li a:hover{
    color: #ecf0f1;
}
footer p{
    color: #999999;
}
footer p a{
    color: #999999;
    transition: 0.5s all;
}
footer p a:hover{
    color: #ecf0f1;
}
footer p .fas{
    width: 30px;
    text-align: center;
    float: left;
    padding-top: 2px;
    color: #27b4e9;
}
footer p:first-child .fas{
    height: 60px !important;
    padding-top: 7px;
}
footer iframe{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    filter: grayscale(100%) contrast(100%);
}
.copyright{
    width: 100%;
    height: 60px;
    background: #333333;
    text-align: center;
    clear: both;
    margin-top: 60px;
    line-height: 60px;
}
.copyright a{
    color: #999999;
    transition: 0.5s all;
}
.copyright a:hover{
    color: #ecf0f1;
}
/* subpage design */
.subpage{
    position: static !important;
    background: #fff;
}
.subpage .mainContainer .menu ul li a{
    color: #2a2a2a !important;
    transition: 0.5s all;
}
.subpage .mainContainer .menu ul li a:hover{
    color: #27b4e9 !important;
}
/* subpage slider  */
#subpageSlider{
    width: 100%;
    height: auto;
    background: none;
}
.subpageSliderImg{
    width: 100%; 
}
.subpageSliderImage{
    width: 100%;
    height: auto;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 15px auto;
}
.subpageSliderImage img{
    width: 700px;
    height: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.owl-three .owl-dots button{
    outline: none;
}
.owl-three .owl-dots{
    position: absolute;
    background: none;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.owl-three .owl-dots .owl-dot span{
    width: 12px;
    height: 12px;
}
.owl-three .owl-dots .owl-dot.active span{
    background: #209ecc;
}
.aboutUsText{
    padding: 0px 45px;
    background: none;
}
.aboutUsTitle{
    position: relative;
    background: none;
    padding: 15px 0px 5px 0px;
    margin-bottom: 15px;
}
.aboutUsTitle span{
    text-transform: uppercase;
    color: #27b4e9;
}
.aboutUsTitle::before{
    position: absolute;
    content: '';
    width: 120px;
    height: 3px;
    background: #27b4e9;
    bottom: 0%;
}
.aboutUsText p{
    color: #999999;
}
.aboutUsText ul{
    padding-left: 20px;
}
.aboutUsText ul li{
   color: #2a2a2a;
   list-style-image: url('../images/icons/list-icon.svg');
}
.subpageCards{
    width: 100%;
    height: auto;
    background: black;
}
.subpageCardsIcon{
    float: left;
    width: 20%;
    height: auto;
}
.subpageCardsIcon img{
    width: 100%;
    height: auto;
}
.subpageCardsText{
    float: left;
    width: 80%;
    height: auto;
    padding:5px 25px;
}
.subpageCardsText span{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}
.subpageCardsText p{
    font-size: 15px;
    color: #999999;
}
.mainTitle .aboutUsTitle::before{
    left: 50%;
    transform: translateX(-50%);
}
.mainTitle p{
    color: #999999;
    font-size: 18px;
}
.owl-four .owl-dots button{
    outline: none;
}
.owl-four .owl-dots .owl-dot span{
    height: 5px;
    border-radius: 5px;
    transition: 0.5s all;
}
.owl-four  .owl-dots .owl-dot.active span{
    background: #27b4e9;
    width: 30px;
}
.aboutUsProfile{
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 35px 15px;
    -webkit-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.10);
    box-shadow: 0px 7px 15px 0px rgba(0,0,0,0.10);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 15px;
}
.aboutUsProfileImage{
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    border: 3px solid #27b4e9;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
}
.aboutUsProfileImage img{
    width: 80px;
    height: 80px;
}
.aboutUsProfileName{
    width: calc(100% - 80px);
    float: left;
    margin-bottom: 10px;
    padding: 0px 15px;
    text-align: left;
    background: none;
}
.aboutUsProfileName h5{
    font-weight: 600;
}
.aboutUsProfileName p{
    font-size: 12px !important;
    color: #999999;
    text-align: left !important;
}
.aboutUsProfile p{
    display: block;
    clear: both;
    color: #999999;
    text-align: justify;
    font-size: 14px;
}
/* projects */
.projects .card{
    background: none;
    margin-bottom: 30px;
}
.page-item .page-link{
    all: unset;
    padding: 10px 25px;
    background: #ecf0f1;
    color: #2a2a2a;
    cursor: pointer;
    transition: 0.5s all;
    border: 1px solid rgb(153, 153, 153,0.15);
    font-size: 14px;
}
.page-item:first-child .page-link{
    background: #27b4e9;
    color: #ecf0f1;
    padding: 10px 15px;
}
.page-item:last-child .page-link{
    background: #27b4e9;
    color: #ecf0f1;
    padding: 10px 15px;
}
.page-item .page-link:hover{
    background: #d4dfe2;
}
.page-item:first-child .page-link:hover{
    background: #209ecc;
}
.page-item:last-child .page-link:hover{
    background: #209ecc;
}
/* projects detail */
.projectText{
    display: inline-block;
    background: none;
    padding: 15px 10px;
}
.projectText h4{
    font-weight: 600;
    color: #2a2a2a;
    text-transform: capitalize;
}
.projectText p{
    color: #999999;
    margin: 15px auto;
}
.projectText span{
    display: block;
    color: #999999;
    margin-bottom: 10px;
}
.projectText span strong{
    color: #209ecc;
    margin-right: 10px;
}
.circle-chart {
    width: 170px;
    height: 17s0px;
    background: none;
}
.circle-chart__circle {
    stroke: #00acc1;
    stroke-width: 2;
    stroke-linecap: square;
    fill: none;
    animation: circle-chart-fill 2s reverse;  
    transform: rotate(-90deg); 
    transform-origin: center;
}
.circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); 
}
.circle-chart__background {
    stroke: #efefef;
    stroke-width: 2;
    fill: none; 
}
.circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
}
.circle-chart__percent {
    text-anchor: middle;
    font-size: 8px;
}

.circle-chart__subline {
    text-anchor: middle;
    font-size: 3px;
}

.primary-stroke {
    color: #209ecc;
}

@keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
}

@keyframes circle-chart-appear {
    to {
    opacity: 1;
    transform: translateY(0);
    }
}
.single-skill p{
    font-size: 16px;
    color: #2a2a2a;
    line-height: 20px;
    margin: 15px 0px 5px 0px;
}
.single-skill span{
    display: block;
    font-size: 14px;
    color: #999;
}
.announcementsImage{
    width: 100%;
    height: auto;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.announcementsImage img{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.announcementsImage .owl-dots button{
    outline: none;
}
.announcementsImage .owl-dots .owl-dot.active span{
    background: #27b4e9;
    transition: 0.5s all;
}
.announcementsText{
    width: 100%;
}
.announcementsText h4{
    color: #2a2a2a;
}
.announcementsText p{
    color: #999999;
    margin: 15px 0px 25px 0px;
}
.announcementsText a{
    position: relative;
    padding: 7px 15px;
    background: #ecf0f1;
    color: #2a2a2a;
    border: 2px solid #ecf0f1;
    box-shadow: 1px 1px 1px rgb(0, 0, 0,0.20);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: 0.5s all;
    z-index: 1;
    overflow: hidden;
    outline: none;
    font-size: 13px;
}
.announcementsText a:hover{
    background: #27b4e9;
    border-color: #27b4e9;
    color: #ecf0f1;
}
.backToPage{
    width: 100%;
    height: auto;
    border-top: 1px solid rgb(153, 153, 153,0.15);
    padding: 25px 0px;
}
.backToPage a{
    display: block;
    text-align: center;
    line-height: 35px;
    width: 125px;
    height: 35px;
    background: #ecf0f1;
    color: #2a2a2a;
    box-shadow: 1px 1px 1px rgb(0, 0, 0,0.20);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: 0.5s all;
    outline: none;
}
.backToPage a:hover{
    background: #27b4e9;
    color: #ecf0f1;
}
.announcementsImage{
    width: 100%;
    height: auto;
}
.announcementsImage img{
    width: 100%;
    height: auto;
}
.announcementsDate{
    width: 100%;
    height:  auto;
    line-height: 40px;
    margin: 25px auto;
    background: none;
}
.announcementsText h4{
    color: #2a2a2a;
}
.announcementsText p{
    font-size: 14px;
    color: #999999;
}
.otherAnnouncements h4{
    display: block;
    margin-bottom: 15px;
}
.otherAnnouncementsContent{
    width: 100%;
    height: auto;
    background: none;
    margin-bottom: 25px;
}
.otherAnnouncementsContent img{
    width: 100%;
    height: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.otherAnnouncementsContent span{
    display: block;
    color: #2a2a2a;
    margin: 10px auto;
}














/* responsive design */
.responsiveNavbar{
    position: relative;
    width: 10%;
    height: 80px;
    background: none;
    float: right;
    z-index: 9999;
    display: none;
}
.navbarContent{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: none;
}
.navbarContent .line{
    position: absolute;
    width: 100%;
    height: 3px;
    background: #999999;
    transition: 0.5s all;
    border-radius: 5px;
}
.navbarContent .line01{
    top: 19%;
}
.navbarContent .line02{
    top: 49%;
}
.navbarContent .line03{
    top: 79%;
}
.navbarContent.active .line01{
    top: 49%;
    transform: rotate(45deg);
    background: #ecf0f1;
}
.navbarContent.active .line02{
    transform: scale(0);
    background: #ecf0f1;
    opacity: 0;
}
.navbarContent.active .line03{
    top: 49%;
    transform: rotate(-45deg);
    background: #ecf0f1;
}
