/* responsive design */
@media (max-width: 1024px){
    /* header */
    header{
        position: static;
        background: #fff;
    }
    .mainContainer{
        width: 100%;
        height: 80px;    
    }
    .logo{
        height: 80px;
        overflow: hidden;
    }
    /* navabr icon */
    .responsiveNavbar{
        display: block;
    }
    /* menu */
    .menu{
        position: absolute;
        width: 90%;
        height: 100%;
        z-index: 9999;
        /* background: #2a2a2a; */
        background: url('../images/bg/responsiveMenuBg.jpg');
        background-position: bottom top;
        float: none;
        display: block;
        top: 0%;
        left: -100%;
        box-sizing: border-box;
        transition: 0.5s all;
        position: fixed;
        padding: 50px;
    }
    .menu ul{
        width: 100%;
        position: relative;
        background: none;
    }
    .menu ul li{
        float: none;
        display: block;
        line-height: 45px;
        border-bottom: 1px solid rgb(153, 153, 153,0.50);
    }
    .menu ul li:nth-child(5){
        border: none;
    }
    .menu ul li:last-child{
        border: none;
    }
    .menu ul li a{
        margin: 0px;
        font-size: 12px;
    }
    .menu.active{
        left: 0%;
        width: calc(90% - 25px);
    }
    .menu ul li a::before{
        all: unset;
    }
    .menu ul li a:hover::before{
        all: unset;
    }
    .loginBtn{
        position: absolute !important;
        width: 100%;
        background: #27b4e9;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        margin: 15px auto !important;
        padding-left: 55px;
    }
    .loginBtn:hover{
        color: #fff !important;
        -webkit-box-shadow: 0px 0px 41px -8px rgba(39,180,233,0.21);
        -moz-box-shadow: 0px 0px 41px -8px rgba(39,180,233,0.21);
        box-shadow: 0px 0px 41px -8px rgba(39,180,233,0.21);
    }
    /* slider */
    #slider .owl-nav{
        display: none;
    }
    #slider .owl-dots{
        position: absolute;
        display: block !important;
        background: none;
        bottom: 0%;
        left: 50%;
        transform: translateX(-50%);
    }
    #slider .owl-theme .owl-dots .owl-dot span{
        position: relative;
        transition: 0.5s all;
        background: #ecf0f1;
    }
    #slider .owl-theme .owl-dots .owl-dot span::before{
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%) scale(0);
        border: 1.5px solid #fff;
        border-radius: 50%;
        transition: 0.5s all;
    }
    #slider .owl-theme .owl-dots .owl-dot.active span{
        background: #fff;
    }
    #slider .owl-theme .owl-dots .owl-dot.active span::before{
        transform: translate(-50%,-50%) scale(1);
    }
    #slider .owl-dots button{
        outline: none;
    }
    .sliderText{
       width: calc(100% - 30px);
       background: none;
       padding: 0px;
    }
    .sliderTextDetail{
        width: 230px;
        background: none;
        transform: scale(0.50);
        transform-origin: left center;
    }
    .sliderTextDetail h1{
        font-size: 20px;
    }
    .sliderTextDetail p{
        font-size: 12px;
    }
    /* content */
    .cd-intro{
        padding: 30px 0px;
    }
    .cd-intro h1{
        font-size: 20px;
    }
    .cd-intro p{
        font-size: 14px;
    }
    /* cards */
    .card{
        transform: scale(0.90);
        transform-origin: top center;
    }
    /* partnership */
    .partnership{
        background: #f9f9f9;
        margin: 0px;
    }
    .partnership::before{
        display: none;
    }
    .partnershipImage{
        width: 100%;
        text-align: center;
        margin: 0px;
    }
    .partnershipImage img{
        width: 167px !important;
        height: auto;
        margin: auto;
    }
    /* countup */
    .countupContainer{
       margin-bottom: 15px;
    }
    .countupIcon img{
        width: 125px;
        height: auto;
    }
    .countupText{
        right: 60px;
    }
    /* footer */
    footer iframe{
        width: 100%;
    }
    footer .col-12{
        margin-bottom: 25px;
    }
    footer .col-12:last-child{
        margin: 0px;
    }
    .copyright{
        height: auto;
        line-height: 25px;
        padding: 15px;
    }
    .copyright a{
        font-size: 14px;
    }
    /* login form */
    .loginForm{
        width: 90%;
    }
    .loginForm button{
        width: 100px;
    }
    /* subpage design */
    .subpage .mainContainer .menu ul li a{
        color: #ecf0f1 !important;
        transition: 0.5s all;
    }
    .subpage .mainContainer .menu ul li .loginBtn:hover{
        color: #fff !important;
    }
    /* subpage  */
    .aboutUsProfile{
        margin-bottom: 15px;
    }
    .aboutUsText{
        padding: 0px 15px;
    }
    .aboutUsTitle h1{
        font-size: 20px;
    }
    .aboutUsText p{
        font-size: 14px;
    }
    .aboutUsText ul li{
        font-size: 14px;
    }
    .skills-area{
        margin: 15px auto;
    }
    .announcementsText{
        margin-top: 25px;
    }
    .announcementsImage{
        margin-top: 25px;
    }
    .backToPage{
        padding-bottom: 0px;
    }
}