.w50{
	width:80px;
}
.w160{
	width:160px;
}
.w200{
	width:200px;
}
.w255{
	width:255px;
}
td{
	vertical-align: middle !important;
}
th{
	text-align: center !important;
}
.sortable{
	cursor:move;
}
.w280{
	width:280px;
}
.kirmizi{
	color:red;
}